<section class="contato" id="contato">
  <div class="label">
    <h2>Contato</h2>
  </div>

  <div class="info-contact">
    <h2>Entre em contato comigo!</h2>
    <p>
      Fique à vontade para entrar em contato comigo para discussões sobre
      projetos, oportunidades de colaboração ou apenas para dizer olá! Estou
      sempre interessado em conhecer novas pessoas e explorar novas
      oportunidades.
    </p>
  </div>

  <div class="icon-contact">
    <a href="https://wa.me/%2B5511935852499" target="_blank"
      ><img src="../../../assets/whatsapp-color-svgrepo-com.svg" alt="WhatsApp"
    /></a>
  </div>
</section>


