<section class="sobre">
  <div class="label">
    <h2>Sobre</h2>
  </div>
  <div class="sobre-label">
    <img src="../../../assets/me.jpg" alt="" />
    <p>
      Desenvolvedor Full Stack experiente em interfaces responsivas,
      escalabilidade e integração. Atuo de forma eficaz em equipes
      multidisciplinares, priorizando qualidade e otimização de processos.
    </p>
  </div>
  <div class="experiencies-img">
    <img
      alt="Java"
      src="https://raw.githubusercontent.com/devicons/devicon/master/icons/java/java-original.svg"
    />
    <img
      alt="Spring Boot"
      src="https://raw.githubusercontent.com/devicons/devicon/master/icons/spring/spring-original.svg"
    />
    <img
      alt="React Js"
      src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original.svg"
    />
    <img
      alt="Angular"
      src="https://raw.githubusercontent.com/devicons/devicon/master/icons/angularjs/angularjs-original.svg"
    />
    <img
      alt="Docker"
      src="https://raw.githubusercontent.com/devicons/devicon/master/icons/docker/docker-original.svg"
    />
  </div>
</section>
