<footer>
  <div class="main">
    <h2>Matheus Gonzalez</h2>
    <p>Desenvolvedor Full Stack</p>
    <div class="icons">
      <img alt="Java" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/java/java-original.svg" />
      <img alt="Spring Boot" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/spring/spring-original.svg" />
      <img alt="React Js" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original.svg" />
      <img alt="Angular" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/angularjs/angularjs-original.svg" />
      <img alt="Docker" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/docker/docker-original.svg" />
    </div>
  </div>

  <div class="others">
    <p>Sistemas | Landing Page | Site | Aplicativos</p>
    <p>Eu posso construir o seu sonho.</p>
  </div>
</footer>
