<nav>
  <ul class="desktop-menu">
    <li><a routerLink="/" fragment="home">Home</a></li>
    <li><a routerLink="/" fragment="sobre">Sobre</a></li>
    <li><a routerLink="/" fragment="projetos">Projetos</a></li>
    <li><a routerLink="/" fragment="experiencias">Experiências</a></li>
    <li><a routerLink="/" fragment="contato">Contato</a></li>
    <li><a class="social" href="https://www.linkedin.com/in/matheussouzagonzalez/" target="_blank">LinkedIn</a></li>
    <li><a class="social" href="https://github.com/matheusgonzalez91" target="_blank">GitHub</a></li>
  </ul>

  <div class="darkModeToggle">
    <button mat-icon-button (click)="toggleMode()">
      <mat-icon>{{ isDarkMode ? "wb_sunny" : "nights_stay" }}</mat-icon>
    </button>
  </div>

  <button mat-icon-button class="mobile-menu-button" (click)="toggleMenu()">
    <mat-icon>{{ isMenuOpen ? "close" : "menu" }}</mat-icon>
  </button>

  <ul class="mobile-menu" [class.open]="isMenuOpen">
    <li><a routerLink="/" fragment="home">Home</a></li>
    <li><a routerLink="/" fragment="sobre">Sobre</a></li>
    <li><a routerLink="/" fragment="projetos">Projetos</a></li>
    <li><a routerLink="/" fragment="experiencias">Experiências</a></li>
    <li><a routerLink="/" fragment="contato">Contato</a></li>
    <li><a class="social" href="https://www.linkedin.com/in/matheussouzagonzalez/" target="_blank">LinkedIn</a></li>
    <li><a class="social" href="https://github.com/matheusgonzalez91" target="_blank">GitHub</a></li>
  </ul>
</nav>
